BR2_arm=y
BR2_TOOLCHAIN_BUILDROOT_UCLIBC=y
BR2_DL_DIR="$(TOPDIR)/../buildroot-dl"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_KSZ_PATH)/patches"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,linux4microchip,linux,linux4microchip-2023.10)/linux-linux4microchip-2023.10.tar.gz"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_KSZ_PATH)/patches/linux-linux4microchip-2023.10"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/sam9x75_curiosity_dsa_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="at91-sam9x75_curiosity_lan9646"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/busybox.config"
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_BRIDGE_UTILS=y
BR2_PACKAGE_EASYFRAMES=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_NUTTCP=y
BR2_PACKAGE_TCPDUMP=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_AT91BOOTSTRAP3=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_TARBALL=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_TARBALL_LOCATION="$(call github,linux4sam,at91bootstrap,v4.0.8)/at91bootstrap3-v4.0.8.tar.gz"
BR2_TARGET_AT91BOOTSTRAP3_DEFCONFIG="sam9x75_curiositysd_uboot"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/linux4microchip/u-boot-mchp.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="linux4microchip-2023.10"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_KSZ_PATH)/patches/u-boot-mchp-linux4microchip-2023.10"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="sam9x75_curiosity_dev_mmc"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE_SOURCE="$(BR2_EXTERNAL_KSZ_PATH)/board/microchip/sam9x75_curiosity/uboot-mmc.txt"
BR2_PACKAGE_HOST_UBOOT_TOOLS_ENVIMAGE_SIZE="0x4000"
BR2_PACKAGE_KSZ_LINUXPTP=y
BR2_PACKAGE_KSZ_LINUXPTP_3_1_1=y
BR2_PACKAGE_KSZ_LINUXPTP_4_0_0=y
BR2_PACKAGE_KSZ_REGS_BIN=y
BR2_PACKAGE_KSZ_PTP_CLI=y
BR2_PACKAGE_KSZ_PTP_TEST=y
BR2_PACKAGE_KSZ_OPENAVB=y
BR2_PACKAGE_MDIO_TOOL=y
BR2_PACKAGE_WEB_GUI=y
BR2_PACKAGE_KSZ_LAN8770_APP=y
BR2_PACKAGE_EASYRUN=y
BR2_PACKAGE_EF_LOOP=y
